body {
    background-color: #E5E5E5;
    color: #312D2C;
}

.wrapper {
   max-width: 1400px;
    margin: 0 auto;
}

.header {
    display: flex;
    height: 100px;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFAFA;
    border-bottom: 1px solid #B47E62;
    font-family: 'luxi_sansregular';
}

.menu-item, .last-menu-item, .sign-up-item{
    text-decoration: none;
    color: #312D2C;
}

.menu-item {
    margin-right: 30px;
}

a.sign-up-item {
    color: #ffffff;
    display: inline-flex;
    justify-content: center;
    line-height: 40px;
    width: 110px;
    height: 40px;
    background-color: #312D2C;
    box-shadow: 0px 4px 10px rgba(69, 46, 46, 0.25);
}

@media (max-width: 1200px) {
    a.menu-item, a.last-menu-item{
        display: none;
    }

}

.flower {
    width: 100%;
    min-height: 700px;
    background: url("images/flower-rental.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content{
    display: flex;
    flex-direction: column;
    padding: 80px 180px 0 180px;
    font-family: 'nimbus_monoregular';
}

.text{
    width: 346px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.3em;
}

.name-content {
    font-family: 'luxi_sansregular';
    font-size: 80px;
    padding: 10px 0 20px 0;
}

.menu-flower{
    display: flex;
    padding-left: 150px;
}

.flower-item{
    text-decoration: none;
    text-transform: uppercase;
    color: #312D2C;
    font-size: 18px;
    line-height: 18px;
    border-right: 1px solid black;
    padding: 0 15px 0 15px;
}

.flower-item-last{
    border-right: none;
    padding-right: 0;
}

.flower-item-first {
    padding-left: 0;
}

.authorisation-now {
    padding-left: 60px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sign-up-item-now {
    width: 170px;
    font-size: 18px;
    color: #ffffff;
    display: inline-flex;
    justify-content: center;
    line-height: 40px;
    height: 40px;
    background-color: #312D2C;
    box-shadow: 0px 4px 10px rgba(69, 46, 46, 0.25);
    font-family: luxi_sansregular;
    text-decoration: none;
}


.picture-absolute {
    background-image: url("images/art-of-floral.png");
    background-size: cover;
    position: absolute;
    top: 570px;
    left: calc(100% - 700px);
    width: 470px;
    height: 300px;
    display: flex;

}
.white-border {
    width: 430px;
    height: 260px;
    border: 1px solid white;
    position: absolute;
    left: calc(100% - 450px);
    top: 20px;
}

.picture-absolute > img {
    max-width: 100%;
}

.wrapper-sign-up {
    background-color: #ffffff;
    font-size: 18px;
}
.part-sign-up {
    background: url("images/part-sign-up.png");
    background-position: left 150px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 950px 800px;
}

.text-from-left {
    text-transform: uppercase;
    margin-right: 20px;
}

.wrapper-two-block {
    display: flex;
    padding-left: 180px;
    margin-right: 60px;
}
.vector {
    width: 60px;
    margin-right: 60px;
}
.vector  img {
    max-width: 100%;
}
.block {
    margin-bottom: 30px;
}
.list-perfect {
    width: 370px;
    justify-content: space-around;
    font-size: 20px;
    font-family: luxi_sansregular;
}
.first-list-perfect > div, .second-list-perfect div {
    padding: 10px;
}
.wrapper-perfect {
    background: url("images/rose.tinted.png");
    justify-content: flex-end;
    height: 650px;
    background-repeat: no-repeat;
    background-size: 870px 650px;
    background-position: right top;
}

.perfect-shadow {
    background: url("images/Rectangle 3.png");
    justify-content: flex-end;
    height: 650px;
    background-repeat: no-repeat;
    background-size: 870px 650px;
    background-position: right top;
}
.item-beauty {
    border: 1px solid #B47E62;
}
@media (max-width: 1265px) {
    .flower-item {
        font-size: 16px;
    }
    .menu-flower {
        padding-left: 50px;
    }
}
@media(max-width: 1110px) {

    .name-content {
        font-size: 60px;
    }
    .content{
        padding: 80px 100px 0 100px;
    }
    .menu-flower {
        padding-left: 0;
    }
    .sign-up-item-now {
        justify-content: center;
    }
    .authorisation-now {
        justify-content: center;
        padding-left: 0;
    }
}

@media (max-width: 670px) {
    .menu-flower {

        flex-direction: column;
        border-right: none;
    }

    .flower-item {
        border-right: none;
        padding-left: 0;
        padding-bottom: 10px;

    }

    .name-content {
        font-size: 50px;
    }
    .authorisation-now {
        justify-content: flex-start;
    }
}
@media (max-width: 540px) {
    .content{
        padding: 80px 30px 0 30px;
    }

    .text {
        font-size: 16px;
    }
    .name-content {
        font-size: 40px;
    }
}

