.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.button-sign {
  color: #ffffff;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 110px;
  background-color: #312D2C;
  box-shadow: 0px 4px 10px rgba(69, 46, 46, 0.25);
}
body {
  width: 100%;
  font: normal 100% 'luxi_sansregular';
  background-color: #E5E5E5;
  color: #312D2C;
}
body .wrapper {
  width: 90%;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  padding: 0 1.96078431%;
  background-color: #FAFAFA;
  border-bottom: 1px solid #B47E62;
}
.header figure {
  padding: 0;
  margin: 0;
}
.header figure img {
  max-width: 130%;
}
.header .main-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 45%;
}
.header .main-menu a:after {
  display: block;
  content: "";
  height: 2px;
  width: 0;
  transition: width 0.4s ease-in-out;
  background-color: #B47E62;
}
.header .main-menu a:hover:after,
.header .main-menu a:focus:after {
  width: 100%;
}
.header .main-menu a,
.header .wrap-sign a {
  text-decoration: none;
  color: #312D2C;
  font-size: 1.125em;
}
.header .wrap-sign a.signUp {
  color: #ffffff;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 110px;
  background-color: #312D2C;
  box-shadow: 0px 4px 10px rgba(69, 46, 46, 0.25);
}
.header .wrap-sign a.signUp:hover {
  background-color: #B47E62;
  transition: 0.3s ease;
}
.header .wrap-sign a.signUp:active {
  transform: scale(0.94);
}
.header .wrap-sign a:first-child {
  margin-right: 15px;
}
.header .wrap-sign a:first-child:hover {
  color: #B47E62;
  transition: 0.2s ease;
}
.wrap-flower {
  height: 600px;
  background-size: cover;
  background: url("images/flower-rental.png") no-repeat center center;
}
.wrap-flower .rectangle-left,
.wrap-flower .rectangle-right {
  background: linear-gradient(180deg, rgba(180, 126, 98, 0.5) 13.81%, rgba(255, 255, 255, 0) 64.64%, #312D2C 100%);
  height: 400px;
  width: 1px;
  position: absolute;
  left: 63%;
}
.wrap-flower .rectangle-right {
  left: 73%;
}
.wrap-flower .flower-logo {
  background: url("images/art-of-floral.png") no-repeat;
  width: 470px;
  height: 300px;
  background-size: cover;
  position: absolute;
  left: 53%;
  top: 63%;
  z-index: 1;
}
.wrap-flower .flower-logo .white-border {
  width: 430px;
  height: 260px;
  border: 1px solid white;
  position: absolute;
  left: calc(100% - 450px);
  top: 20px;
}
.first-part {
  width: 76%;
  padding-top: 3%;
  margin: 0 auto;
}
.first-part .upper-text {
  font: 1.25em 'nimbus_monoregular';
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.first-part h1 {
  font-size: 5em;
  margin: 0;
}
.block-indent {
  width: 80%;
  margin: 2% auto;
}
.block-indent nav {
  display: flex;
  justify-content: center;
  font: 1.125em 'nimbus_monoregular';
}
.block-indent a {
  text-decoration: none;
  text-transform: uppercase;
  color: #312D2C;
  border-right: 1px solid #312D2C;
  padding: 0 10px 0 10px;
  text-align: center;
  transition: all 0.2s ease;
}
.block-indent a:hover {
  color: #B47E62;
}
.block-indent a:last-child {
  border-right: none;
}
.wrap-button {
  width: 85%;
  height: 140px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}
.wrap-button button {
  width: 170px;
  height: 40px;
  background-color: #312D2C;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.125em;
  border: 0;
  box-shadow: 0px 4px 10px rgba(69, 46, 46, 0.25);
}
.wrap-button button:hover {
  background-color: #B47E62;
  cursor: pointer;
  transition: 0.3s ease;
}
.wrap-button button:active {
  transform: scale(0.95);
}
.modalDialog {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
  display: none;
}
.modalDialog div {
  width: 400px;
  height: 500px;
  background: linear-gradient(#FFF, #783A36);
  position: relative;
  margin: 7% auto;
  padding: 5px 30px 13px 30px;
}
.modalDialog div a.close,
.modalDialog div a.closeLog {
  position: absolute;
  text-align: center;
  font-weight: bold;
  background: #783A36;
  width: 24px;
  border-radius: 50%;
  color: #ffffff;
  right: -26px;
  top: -9px;
}
.modalDialog div a.close:hover,
.modalDialog div a.closeLog:hover {
  background: darkolivegreen;
}
.modalDialog div a.signUp {
  color: #ffffff;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 110px;
  background-color: #312D2C;
  box-shadow: 0px 4px 10px rgba(69, 46, 46, 0.25);
}
.modalDialog div form {
  margin-top: 30px;
}
.modalDialog div form input {
  margin-bottom: 20px;
  width: 300px;
}
.modalDialog:target {
  pointer-events: auto;
  display: block;
}
.wrap-burger {
  display: none;
  width: 250px;
  height: 40px;
  background-color: #312D2C;
  color: white;
  position: relative;
}
.wrap-burger #check-menu {
  display: none;
}
.wrap-burger label {
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  line-height: 40px;
}
.wrap-burger .burger-line {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color: #ffffff;
  transition: 0.5s all;
}
.wrap-burger .second,
.wrap-burger .third {
  top: 18px;
}
.wrap-burger .fourth {
  top: 28px;
}
.wrap-burger .burger-menu {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: 0.5s all;
  text-align: center;
}
.wrap-burger .burger-menu a {
  display: block;
  width: 100%;
  padding: 10px 0;
  color: #ffffff;
  text-decoration: none;
  border-top: 1px solid black;
  background-color: #312D2C;
}
.wrap-burger .burger-menu a:hover {
  background-color: #B47E62;
  transition: 0.3s all;
}
#check-menu:checked ~ .burger-menu {
  max-height: 300px;
  font-size: 12px;
}
#check-menu:checked ~ .first {
  display: none;
}
#check-menu:checked ~ .second {
  transform: rotate(45deg);
}
#check-menu:checked ~ .third {
  transform: rotate(-45deg);
}
#check-menu:checked ~ .fourth {
  display: none;
}
@media (max-width: 1100px) {
  body {
    font-size: 93%;
  }
  body .flower-logo {
    display: none;
  }
}
@media (max-width: 1100px) and (max-width: 960px) {
  .header .main-menu a {
    display: none;
  }
  .wrap-burger {
    display: block;
  }
  .wrap-flower .rectangle-left,
  .wrap-flower .rectangle-right {
    background: none;
  }
  .wrap-sign {
    display: none;
  }
}
@media (max-width: 1100px) and (max-width: 390px) {
  main h1 {
    font-size: 4.3em;
    margin-bottom: 35px;
  }
  .block-indent nav {
    flex-direction: column;
  }
  .block-indent nav a {
    border-right: none;
    margin: 2% auto;
  }
  .wrap-button {
    width: 100%;
    align-items: center;
  }
}
.wrap-all-white {
  position: relative;
  background-color: #ffffff;
  padding-top: 3%;
}
.wrap-all-white .wrap-part-two {
  height: 600px;
  width: 100%;
}
.wrap-all-white .sign-abs {
  background: url("images/part-sign-up.png");
  background-size: cover;
  position: absolute;
  width: 54%;
  height: 29%;
  top: 8%;
}
.part-two {
  width: 88%;
  margin-left: 12%;
}
.part-two .upper-text {
  font: 1.125em 'nimbus_monoregular';
  letter-spacing: 0.1em;
}
.part-two h2 {
  font-size: 5em;
  margin: 0;
}
.wrap-sign-flex {
  display: flex;
}
.wrap-sign-flex .text-indent {
  margin-left: 16%;
  font: 1.125em 'nimbus_monoregular';
}
.wrap-sign-flex .indent-flex {
  margin-top: 21px;
  margin-left: 2%;
}
.wrap-sign-flex .wrap-column-flex {
  display: flex;
  flex-direction: column;
  font: 1.125em 'nimbus_monoregular';
  margin-left: 11%;
  margin-top: 21px;
  width: 50%;
}
.wrap-sign-flex .wrap-column-flex .flex-inline {
  display: flex;
  margin-bottom: 5%;
}
.wrap-sign-flex .wrap-column-flex .flex-inline div {
  margin-right: 10%;
}
.wrap-sign-flex .wrap-column-flex .flex-inline div img {
  width: 57px;
}
.button-part-two {
  color: #ffffff;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 110px;
  background-color: #312D2C;
  box-shadow: 0px 4px 10px rgba(69, 46, 46, 0.25);
  width: 170px;
  margin-top: 30px;
}
a {
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font: 1.125em 'luxi_sansregular';
}
@media (max-width: 960px) {
  .wrap-all-white .sign-abs {
    background: none;
    display: none;
  }
}
@media (max-width: 390px) {
  .wrap-sign-flex {
    display: block;
  }
  .wrap-sign-flex .wrap-column-flex {
    margin-left: 0;
    width: 100%;
  }
  .indent-flex img {
    height: 0;
  }
  .part-two {
    margin-left: 0;
  }
}
.part-perfect {
  height: 600px;
  padding-top: 20px;
  width: 88%;
  margin-left: 12%;
}
.part-perfect .perf-abs {
  background: url("images/perfect.png") no-repeat;
  height: 650px;
  background-position: right;
  background-size: 870px 610px;
}
.part-three {
  padding-top: 70px;
}
.part-three .upper-text {
  font: 1.125em 'nimbus_monoregular';
}
.part-three h2 {
  font-size: 5em;
  margin: 0;
}
.part-three .big-text {
  margin-left: 16%;
  font: 1.125em 'nimbus_monoregular';
  text-transform: uppercase;
}
.perf-flex {
  display: flex;
  width: 350px;
  justify-content: space-between;
  margin-left: 6%;
  font-size: 1.3em;
  margin-top: 30px;
}
.perf-flex div p:hover {
  cursor: pointer;
  outline: 1px solid #B47E62;
}
@media (max-width: 390px) {
  .perf-flex {
    display: block;
    font-size: 100%;
    width: 76%;
    padding-left: 3%;
  }
  .part-perfect {
    margin: 0;
    width: 100%;
  }
  .part-perfect .perf-abs {
    opacity: 0.8;
    background-position: center;
  }
}
.products {
  padding-top: 80px;
}
.products .prod-abs {
  background: url("images/rose.png") no-repeat;
  height: 650px;
  background-position: left;
  background-size: 870px 610px;
}
.prod-content {
  display: flex;
  padding-right: 12%;
}
.prod-content div:first-child {
  width: 55%;
}
.prod-content div:last-child {
  width: 45%;
  margin-top: 80px;
}
.prod-content div:last-child .upper-text {
  font: 1.125em 'nimbus_monoregular';
}
.prod-content div:last-child h2 {
  font-size: 5em;
  margin: 0;
}
.prod-content div:last-child .text-indent {
  text-transform: uppercase;
  font: 1.125em 'nimbus_monoregular';
  letter-spacing: 0.1em;
  padding-left: 52%;
}
.prod-content div:last-child .text {
  font: 0.9em 'nimbus_monoregular';
  line-height: 25px;
  padding-left: 10%;
  margin-bottom: 50px;
}
.but-abs {
  width: 870px;
  position: relative;
}
.but-abs div {
  right: -21px;
  position: absolute;
  top: 10px;
}
.but-abs button {
  position: absolute;
  width: 100px;
  height: 40px;
  right: 0;
}
.but-abs button:hover {
  cursor: pointer;
}
@media (max-width: 553px) {
  .prod-content div:first-child {
    display: none;
  }
  .prod-content div:last-child {
    width: 90%;
  }
  .prod-content div:last-child .text {
    line-height: 18px;
  }
}
@media (max-width: 930px) {
  .prod-content div:last-child {
    width: 100%;
  }
  .prod-content div:first-child {
    width: 10%;
  }
}
@media (max-width: 1065px) {
  .but-abs {
    width: 300px;
  }
}
.eco-flowers {
  margin-top: 60px;
}
.eco-flowers .eco-abs {
  background: url("images/IMG.png") no-repeat;
  background-size: 770px 950px;
  height: 900px;
  background-position: right;
  margin-right: 2%;
}
.eco-flowers .eco-abs main {
  width: 76%;
  margin: 0 auto;
  padding-top: 60px;
}
.eco-flowers .eco-abs main .little-text {
  font-size: 1.125em;
}
.eco-flowers .eco-abs main p {
  font: 0.9em 'nimbus_monoregular';
  line-height: 26px;
  padding-left: 9%;
}
.eco-flowers .eco-abs main .little-text {
  padding-left: 0;
}
.eco-flowers .eco-abs main h2 {
  font-size: 5em;
  margin: 0;
  width: 70%;
}
.eco-flowers .eco-abs main div {
  width: 55%;
  padding-top: 20px;
}
.eco-flowers .eco-abs main .but-abs-eco {
  width: 200px;
  height: 100px;
  position: relative;
}
.eco-flowers .eco-abs main .but-abs-eco img {
  position: absolute;
  left: 100px;
  bottom: 56px;
}
.eco-flowers .eco-abs main .but-abs-eco button {
  width: 100px;
  height: 40px;
  margin-top: 20px;
  background-color: #ffffff;
  box-shadow: none;
  border: 1px solid black;
}
.eco-flowers .eco-abs main .button:hover {
  cursor: pointer;
}
@media (max-width: 1200px) {
  .eco-flowers .eco-abs main div {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .eco-flowers .eco-abs main div p:nth-child(2n+1) {
    display: none;
  }
  .eco-flowers .eco-abs {
    background-position: left;
    margin-right: 0;
  }
}
