@color-font-main: #312D2C;
@color-border: #B47E62;
@background-header: #FAFAFA;
@bg-benefits: #783A36;
@background-body: #E5E5E5;
@font-style-sans: 'luxi_sansregular';
@font-style-mono: 'nimbus_monoregular';
@font-color-white: #ffffff;
@shadow-sign: 0px 4px 10px rgba(69, 46, 46, 0.25);
@bg-flower-path: "images/flower-rental.png";
@bg-flower-height: image-height(@bg-flower-path);
@flower-logo-path: "images/art-of-floral.png";
@flower-logo-width: image-width(@flower-logo-path);
@flower-logo-height: image-height(@flower-logo-path);
@gradient-rectangle: linear-gradient(180deg, rgba(180, 126, 98, 0.5) 13.81%,
rgba(255, 255, 255, 0) 64.64%, #312D2C 100%);

.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.button-sign {
  color: @font-color-white;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 110px;
  background-color: @color-font-main;
  box-shadow: @shadow-sign;
}
body {
  width: 100%;
  font: normal 100% @font-style-sans;
  background-color: @background-body;
  color: @color-font-main;

  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
}
// styles for header and inside elements
.header {
  .flex-between;
  align-items: center;
  min-height: 100px;
  padding: 0 1.96078431372549%;
  background-color: @background-header;
  border-bottom: 1px solid #B47E62;

  figure {
    padding: 0;
    margin: 0;

    img {
      max-width: 130%;
    }
  }

  .main-menu{
    .flex-between;
    flex-wrap: wrap;
    width: 45%;

    a:after {
      display: block;
      content: "";
      height: 2px;
      width: 0;
      transition: width 0.4s ease-in-out;
      background-color: @color-border;
    }
    a:hover:after,
    a:focus:after{
      width: 100%;
    }
  }

  .main-menu, .wrap-sign {

    a {
      text-decoration: none;
      color: @color-font-main;
      font-size: 1.125em;
    }
  }

  .wrap-sign  {

    a.signUp {
      .button-sign;
    }
    a.signUp:hover {
      background-color: @color-border;
      transition: 0.3s ease;
  }
    a.signUp:active {
      transform: scale(0.94);
    }

    a:first-child {
      margin-right: 15px;
    }
    a:first-child:hover {
      color: @color-border;
      transition: 0.2s ease;
    }
  }
}

.wrap-flower{
  height: @bg-flower-height - 211px;
  background-size: cover;
  background: url(@bg-flower-path) no-repeat center center;

  .rectangle-left, .rectangle-right {
      background: @gradient-rectangle;
      height: 400px;
      width: 1px;
      position: absolute;
      left: 63%;
    }
    .rectangle-right {
      left: 73%;
    }
    .flower-logo {
      background: url(@flower-logo-path) no-repeat;
      width: @flower-logo-width - 100px;
      height: @flower-logo-height - 100px;
      background-size: cover;
      position: absolute;
      left: 53%;
      top: 66%;
      z-index: 1;

      .white-border {
        width: 430px;
        height: 260px;
        border: 1px solid white;
        position: absolute;
        left: calc(100% - 450px);
        top: 20px;
      }
    }
}

.first-part {
  width: 76%;
  padding-top: 3%;
  margin: 0 auto;

    .upper-text {
      font: 1.25em @font-style-mono;
      text-transform: uppercase;
      letter-spacing: 0.30em;
    }

    h1 {
      font-size: 5em;
      margin: 0;
    }
}

.block-indent {
  width: 80%;
  margin: 2% auto;


  nav {
      .flex-center;
      font: 1.125em @font-style-mono;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: @color-font-main;
      border-right: 1px solid @color-font-main;
      padding: 0 10px 0 10px;
      text-align: center;
      transition: all 0.2s ease;
    }
    a:hover {
      color: @color-border;
    }
    a:last-child {
      border-right: none;
    }
}

.wrap-button {
  width: 85%;
  height: 140px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;

    button {
      width: 170px;
      height: 40px;
      background-color: @color-font-main;
      color: @font-color-white;
      text-transform: uppercase;
      font-size: 1.125em;
      border: 0;
      box-shadow: @shadow-sign;
  }
    button:hover {
      background-color: @color-border;
      cursor: pointer;
      transition: 0.3s ease;

    }
  button:active {
    transform: scale(0.95);
  }
}

.modalDialog {
   background: rgba(0,0,0,0.8);
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 999;
   pointer-events: none;
   display: none;

    div {
      width: 400px;
      height: 500px;
      background: linear-gradient(#FFF, #783A36);
      position: relative;
      margin: 7% auto;
      padding: 5px 30px 13px 30px;

        a.close, a.closeLog {
          position: absolute;
          text-align: center;
          font-weight: bold;
          background: #783A36;
          width: 24px;
          border-radius: 50%;
          color: @font-color-white;
          right: -26px;
          top: -9px;
        }
        a.close:hover, a.closeLog:hover {
          background: darkolivegreen;
        }

        a.signUp {
          .button-sign;
        }
        form {
          margin-top: 30px;

          input {
            margin-bottom: 20px;
            width: 300px;
          }
        }
    }
}
.modalDialog:target {
  pointer-events: auto;
  display: block;
}

.wrap-burger {
  display: none;
  width: 250px;
  height: 40px;
  background-color: @color-font-main;
  color: white;
  position: relative;
    #check-menu {
      display: none;
    }
    label {
      display: block;
      position: absolute;
      top: 0;
      left: 10px;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 2;
      line-height: 40px;
    }
    .burger-line {
      position: absolute;
      top: 8px;
      right: 10px;
      width: 35px;
      height: 2px;
      background-color: @font-color-white;
      transition: 0.5s all;
    }
  .second, .third {
    top: 18px;
  }

  .fourth {
    top: 28px;
  }
  .burger-menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: 0.5s all;
    text-align: center;

    a {
      display: block;
      width: 100%;
      padding: 10px 0;
      color: @font-color-white;
      text-decoration: none;
      border-top: 1px solid black;
      background-color: @color-font-main;
    }
    a:hover {
      background-color: @color-border;
      transition: 0.3s all;

    }
  }
}
#check-menu:checked ~ .burger-menu {
  max-height: 300px;
  font-size: 12px;
}

#check-menu:checked ~ .first {
  display: none;
}
#check-menu:checked ~ .second {
  transform: rotate(45deg);
}
#check-menu:checked ~ .third {
  transform: rotate(-45deg);
}
#check-menu:checked ~ .fourth {
  display: none;
}



//media for first part FLOWER RENTAL
@media (max-width: 1100px) {
  body {
    font-size: 93%;
    .flower-logo {
      display: none;
    }
  }

@media (max-width: 960px) {
  .header .main-menu a{
    display: none;
  }
  .wrap-burger {
    display: block;
  }
  .wrap-flower .rectangle-left, .wrap-flower .rectangle-right {
    background: none;
  }
  .wrap-sign{
    display: none;
  }
}

@media (max-width: 390px) {
  main h1 {
    font-size: 4.3em;
    margin-bottom: 35px;
  }

  .block-indent nav {
    flex-direction: column;
    a {
      border-right: none;
      margin: 2% auto;
    }
  }

  .wrap-button {
    width: 100%;
    align-items: center;
  }
}
}
// first part finished
.wrap-all-white {
  //height: 2400px;
  position: relative;
  background-color: @font-color-white;
  padding-top: 3%;
  padding-bottom: 100px;
    .wrap-part-two{
      height: 600px;
      width: 100%;
    }
    .sign-abs {
      background: url("images/part-sign-up.png");
      background-size: cover;
      position: absolute;
      width: 48%;
      height: 23%;
      top: 6%;
    }
}

.part-two {
  width: 88%;
  margin-left: 12%;
    .upper-text {
      font: 1.125em @font-style-mono;
      letter-spacing: 0.1em;
    }
    h2 {
      font-size: 5em;
      margin: 0;
    }

}

.wrap-sign-flex {
  display: flex;

  .text-indent {
    margin-left: 16%;
    font: 1.125em @font-style-mono;
    //text-transform: uppercase;
  }
  .indent-flex {
    margin-top: 21px;
    margin-left: 2%;
  }
  .wrap-column-flex {
    display: flex;
    flex-direction: column;
    //margin-left: 130px;
    //margin-top: 20px;
    font: 1.125em @font-style-mono;
    margin-left: 11%;
    margin-top: 21px;
    width: 50%;

    .flex-inline {
      display: flex;
      margin-bottom: 5%;
      div {
        margin-right: 10%;

        img {
          width: 57px;
        }
      }
    }
  }
}
.button-part-two {
  .button-sign;
  width: 170px;
  margin-top: 30px;
}
a {
  text-transform: uppercase;
  color: @font-color-white;
  text-decoration: none;
  font: 1.125em @font-style-sans;
}

@media (max-width: 960px) {
  .wrap-all-white .sign-abs {
    background: none;
    display: none;
  }
}

@media (max-width: 390px) {
  .wrap-sign-flex {
    display: block;
  }
  .wrap-sign-flex .wrap-column-flex {
    margin-left: 0;
    width: 100%;
  }
  .indent-flex {
    img {
      height: 0;
    }
  }
  .part-two {
    margin-left: 0;
  }
}

.part-perfect {
  height: 600px;
  padding-top: 20px;
  width: 88%;
  margin-left: 12%;
    .perf-abs {
      background: url("images/perfect.png") no-repeat;
      height: 650px;
      background-position: right;
      background-size: 870px 610px;
    }
}
.part-three {
  padding-top: 70px;
  .upper-text {
    font: 1.125em @font-style-mono;
  }
  h2 {
    font-size: 5em;
    margin: 0;
  }
  .big-text{
    margin-left: 16%;
    font: 1.125em 'nimbus_monoregular';
    text-transform: uppercase;
  }
}
.perf-flex{
  display: flex;
  width: 350px;
  justify-content: space-between;
  margin-left: 6%;
  font-size: 1.3em;
  margin-top: 30px;
  div {
    p:hover{
        cursor: pointer;
        outline: 1px solid @color-border;

    }
  }
}
@media (max-width: 390px) {
  .perf-flex {
    display: block;
    font-size: 100%;
    width: 76%;
    padding-left: 3%;
  }

  .part-perfect {
    margin: 0;
    width: 100%;
    .perf-abs {
      opacity: 0.8;
      background-position: center;
    }
  }
}


.products {
  padding-top: 80px;
  .prod-abs {
    background: url("images/rose.png") no-repeat;
    height: 650px;
    background-position: left;
    background-size: 870px 610px;
  }}
    .prod-content {
      display: flex;
      padding-right: 12%;

      div:first-child {
        width: 55%;
      }
      div:last-child {
        width: 45%;
        margin-top: 80px;

        .upper-text {
          font: 1.125em @font-style-mono;
        }

        h2 {
          font-size: 5em;
          margin: 0;
        }
        .text-indent {
          text-transform: uppercase;
          font: 1.125em @font-style-mono;
          letter-spacing: 0.1em;
          padding-left: 52%;
        }
        .text {
          font: 0.9em @font-style-mono;
          line-height: 25px;
          padding-left: 10%;
          margin-bottom: 50px;
        }
      }
    }

.but-abs {
  width: 870px;
  position: relative;
    div {
      right: -21px;
      position: absolute;
      top: 10px;
    }
  button{
    position: absolute;
    width: 100px;
    height: 40px;
    right: 0;
  }
  button:hover {
    cursor:pointer;
  }
}


@media (max-width: 553px) {
  .prod-content div:first-child {
    display: none;
  }
  .prod-content div:last-child {
    width: 90%;
  }
  .prod-content div:last-child .text {
    line-height: 18px;
  }
}
@media (max-width: 930px) {
  .prod-content div:last-child {
    width: 100%;
  }
  .prod-content div:first-child {
    width: 10%;
  }
}
@media (max-width: 1065px) {
  .but-abs {
    width: 300px;
  }

}

.eco-flowers {
  margin-top: 60px;
    .eco-abs {
      background: url("images/IMG.png") no-repeat;
      background-size: 770px 950px;
      height: 900px;
      background-position: right;
      margin-right: 2%;

      .rose-abs{
        position: absolute;
        left: 0;
        top: 86%;
        .rose-abs-img {
          width: 380px;
        }
      }
      main {
        width: 76%;
        margin: 0 auto;
        padding-top: 60px;

        .little-text{
          font-size: 1.125em;
        }
        p {
          font: 0.9em @font-style-mono;
          line-height: 26px;
          padding-left: 9%;
        }
        .little-text{
          padding-left: 0;
        }
        h2 {
          font-size: 5em;
          margin: 0;
          width: 70%;
        }
        div {
          width: 55%;
          padding-top: 20px;
        }
        .but-abs-eco {
          width: 200px;
          height: 100px;
          position: relative;
          img {
            position: absolute;
            left: 100px;
            bottom: 56px;
          }
        }
        .but-abs-eco button{
          width: 100px;
          height: 40px;

          margin-top: 20px;
          background-color: @font-color-white;
          box-shadow: none;
          border: 1px solid black;
        }
        .button:hover {
          cursor: pointer;
        }

      }
    }
}
@media (max-width: 1200px) {
  .eco-flowers .eco-abs main div {
    width: 100%;
  }
}
@media (max-width: 600px){
  .eco-flowers .eco-abs main div p:nth-child(2n+1){
    display: none;
  }
  .eco-flowers .eco-abs {
    background-position: left;
    margin-right: 0;
  }
}
.benefits {
  background-color: @bg-benefits;
  padding: 80px 0 50px 0;
  width: 100%;
  color: @font-color-white;
  .benefits-flex{
    width: 88%;
    margin-left: 12%;
    display: flex;
    flex-direction: row;
    div {
      p:first-child {
        font: 1.125em @font-style-mono;
      }
      h2 {
        font-size: 5em;
        margin: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
      }
      p:nth-child(3), p:nth-child(4), p:nth-child(5){
        padding-left: 5%;
        font-size: 1.33333em;
        letter-spacing: 1px;
        line-height: 36px;
      }
      .but-benefits {
        //padding-left: 5%;
        margin-top: 50px;
        position: relative;
        width: 137px;
        button {
          border: 1px solid @font-color-white;
          color: @font-color-white;
          background-color: @bg-benefits;
          box-shadow: none;
          padding: 10px;
        }
        img {
          position: absolute;
          top: 15px;
          left: 137px;
        }
      }
    }
  }
}
