body, html{
    padding: 0;
    margin: 0;
    height: 100%;
}

header{
    height: 80px;
    display: flex;
    background-image: linear-gradient(to top, #8fbfbe, white);
}

header  > div:last-child{
    height: 100%;
    border-bottom: 1px solid black;
    width: 20px;
}

.empty{
    width: 170px;
    background: #8fbfbe;
}
.navigation{
    flex-grow: 1;
    height: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    display: flex;
}

footer{
    background-color: #8fbfbe;
    display: flex;
    font-family: sans-serif;
    font-size: 11px;
}

body{
    position: relative;
}

/*styles for aside*/

aside{
    position: absolute;
    top: 0;
    width: 170px;
    background-image: linear-gradient(to top, #8fbfbe 90%, white);
    font-family: sans-serif;
    font-size: 12px;
    line-height: 18px;
}
.wrapper_aside{
    margin-top: 15px;
}
.logo {
    height: 160px;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 15px 0px 0px 5px;

}

.wrapper_aside ul{
    list-style-type: none;
    padding: 0px  25px 5px 25px ;
}

.wrapper_aside h3{
    padding-left: 25px;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 12px;
}

.wrapper_aside hr{
    width: 115px;
    margin-top: 0px;
    height: 1px;
    background-color: #9ACD32;
}

.wrapper_aside a:link{
    text-decoration:  none;

}

.wrapper_aside a:hover{
    text-decoration: underline;
}

/* styles for high navigation */

.person_nav{
    font-size: 12px;
}

.person_nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.person_nav li{
    margin-right: 10px;
}

.person_nav li:last-child{
    margin-right: 0;
}

.person_nav a:link{
    text-decoration: none;
}

.person_nav a:hover{
    text-decoration: underline;
}
.person_nav a:active{
    color: orange;
}

.person_nav .fa-user-circle-o:before{
    font-size: 15px;
    vertical-align: -1px;
    margin-right: 3px;
}

/* styles for left_bottom_navigation */
.bottom_nav{
    display: flex;
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
}

.bottom_nav input:checked + label {
    background: white;
    border-bottom: none;
}

.bottom_nav label{
    box-sizing: padding-box;
    cursor: pointer;
    height: 100%;
    border-right: 1px solid black;
    padding-right: 5px;
    padding-left: 5px;
    background-image: linear-gradient(to top, #508f8d, #ceeced, #c7f2f1);
    border-bottom: 1px solid black;
}
.bottom_nav > div{
    flex-grow: 1;
    border-bottom: 1px solid black;
    height: 100%;
}

.bottom_nav  input[type="radio"]{
    display: none;
}

.left_nav, .right_nav{
    display: flex;
}
.form {
    position: relative;
    height: 100%;
    border-bottom: 1px solid black;
}
.right_nav .form input{
    width: 300px;
    background-image: linear-gradient(to top, #c7f2f1, #fff);
    border: 1px solid green;
    border-radius: 2px;
    font-size: 13px;
    height: 65%;
    margin-left: 5px;
    padding-left: 5px;
}


.right_nav .form button {
    height: 70%;
    position: absolute;
    top: 5px;
    right: 2px;
    background-image: linear-gradient(to top, #c7f2f1, #fff);
    border: none;
}
.main-content{
    line-height: 24px;
    font-family: sans-serif;
    font-size: 14px;
    flex: 1;
    padding: 0px 20px 20px 20px;
}

.small_notes {
    display: flex;
    justify-content: space-between;
}

.edit-button{
    border: none;
    background: transparent;
    padding: 2px;
}

.edit-button:hover{
    text-decoration: underline;
}


figure {
    float: right;
    margin-right: 0;
    padding: 5px 5px 5px 5px;
    background-color: #8fbfbe;
}
figcaption{
    display: flex;
    justify-content: space-between;
    line-height: 10px;
}
figure a:link{
    text-decoration: none;
    font-size: 13px;
}
figure a:hover{
    text-decoration: underline;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}

.page_nav {
    width: 230px;
    line-height: 16px;
    border: 1px solid #4B0082;
    background-color: #eeeeee;
}
.main-content h1{
    font-size: 32px;
    font-family: Serif;
    font-weight: normal;
    margin-bottom: 0;
}
.main-content h2{
    font-family: Serif;
    font-weight: normal;
    margin-bottom: 0;
    margin-right: 5px;
    font-size: 24px;
    display: inline-block;
}

.page_nav li{
    margin: 5px 5px 5px 5px;
}
.page_nav p{
    text-align: center;
}
.page_nav a:link {
    font-size: 13px;
    text-decoration: none;
}
.page_nav a:hover{
    text-decoration: underline;
}

.wrapper-code{
    background-color: #eeeeee;
    height: 450px;
    line-height: 18px;
    outline: 1px solid gray;
}

.block-links{
    border: 1px solid black;
    text-align: center;
    margin-bottom: 15px;

}
.name-block{
    background-color: cornflowerblue;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}
.block-links p{
    font-family: sans-serif;
    font-size: 12px;
}
.category{
    border: 1px solid black;
    padding: 5px;
}

.category a{
    text-decoration: none;
    border-right: 1px solid black;
    padding-right: 5px;
}

.footer-content{
    flex: 1;
    padding: 20px;
}
.footer-links {
    display: flex;
}
.footer-links a {
    margin-right: 10px;
    margin-top: 10px;
}
.footer-button img{
    height: 40px;
}

.footer-button a{
    display: block;
    border: 1px solid black;
    width: 90px ;
    border-radius: 3px;
    background-color: darkgrey;
    text-align: center;
    height: 40px;
    margin-right: 4px;
}
.footer-button {
    display: flex;
}
.footer-content > div{
    display: flex;
    justify-content: space-between;
}