body, html{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: #160ccc;
    }

a:hover{
    text-decoration: underline;
    color: #FF8C00;
}

header{
    height: 80px;
    display: flex;
    background-image: linear-gradient(to top, #8fbfbe, white);
}

header  > div:last-child{
    height: 100%;
    border-bottom: 1px solid black;
    width: 20px;
}

.empty{
    width: 170px;
}

.navigation{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    display: flex;
}

footer{
    background-color: #8fbfbe;
    display: flex;
    font-size: 11px;
}

body{
    position: relative;
}

aside{
    position: absolute;
    top: 0;
    width: 170px;
    font-size: 12px;
    line-height: 18px;
}

.wrapper_aside{
    margin-top: 15px;
}

.logo {
    height: 160px;
    background: url("images/logo.png") no-repeat;
    background-size: contain;
    margin: 15px 0 0 5px;
}

.wrapper_aside ul{
    list-style-type: none;
    padding: 0 23px 5px 25px ;
}

.fa-gear:before, .fa-cog:before{
    margin-left: 5px;
    font-size: 14px;
}

.wrapper_aside h3{
    padding-left: 25px;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 12px;
    display: inline-block;
}

.wrapper_aside hr{
    width: 115px;
    margin-top: 0;
}

.wrapper_aside a:link{
    text-decoration:  none;
}

.wrapper_aside a:hover{
    text-decoration: underline;
}

li.button > button{
    background: #e6e9ed url('https://ssl.gstatic.com/translate/ic_translate_googblue600_20dp.svg') no-repeat left;
    border: 1px solid darkgrey;
    margin-top: 5px;
    width: 70px;
    height: 25px;
    text-align: right;
    color: #437de8;
}

.person_nav{
    font-size: 12px;
}

.person_nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.person_nav li{
    margin-right: 10px;
}

.person_nav li:first-child{
    color: #626566;
}

.person_nav li:last-child{
    margin-right: 0;
}

.person_nav .fa-user-circle-o:before{
    font-size: 15px;
    vertical-align: -1px;
    margin-right: 3px;
}

.bottom_nav{
    display: flex;
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #160ccc;
}

.bottom_nav label:hover{
    text-decoration: underline;
    color:#FF8C00;
}

.bottom_nav input:checked + label {
    background: white;
    border-bottom: none;
}

.bottom_nav label{
    box-sizing: padding-box;
    cursor: pointer;
    height: 100%;
    border-right: 1px solid black;
    padding-right: 5px;
    padding-left: 5px;
    background-image: linear-gradient(to top, #508f8d, #ceeced, #c7f2f1);
    border-bottom: 1px solid black;
}

.bottom_nav > div{
    flex-grow: 1;
    border-bottom: 1px solid black;
    height: 100%;
}

.bottom_nav  input[type="radio"]{
    display: none;
}

.left_nav, .right_nav{
    display: flex;
}

.form {
    position: relative;
    height: 100%;
    border-bottom: 1px solid black;
}

.right_nav .form input{
    width: 300px;
    background-image: linear-gradient(to top, #c7f2f1, #fff);
    border: 1px solid green;
    border-radius: 2px;
    font-size: 13px;
    height: 65%;
    margin-left: 5px;
    padding-left: 5px;
}

.right_nav .form button {
    height: 70%;
    position: absolute;
    top: 5px;
    right: 2px;
    background-image: linear-gradient(to top, #c7f2f1, #fff);
    border: none;
}

.main-content{
    line-height: 24px;
    font-size: 14px;
    flex: 1;
    padding: 0 20px 20px 20px;
}

.small_notes {
    display: flex;
    justify-content: space-between;
}

.edit-button{
    border: none;
    background: transparent;
    padding: 2px;
    color: #ed053f;
}

.edit-button:hover{
    text-decoration: underline;
}

figure {
    float: right;
    margin-right: 0;
    padding: 5px 5px 5px 5px;
    background-color: #8fbfbe;
}

figcaption{
    display: flex;
    justify-content: space-between;
    line-height: 10px;
}

figure a:link{
    text-decoration: none;
    font-size: 13px;
}

figure a:hover{
    text-decoration: underline;
}

figure img{
    width: 220px;
    height: 220px;
}

code{
    white-space: pre;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.page_nav {
    width: 230px;
    line-height: 16px;
    border: 1px solid #4B0082;
    background-color: #e6e9ed;
}

.main-content h1{
    font-size: 32px;
    font-family: serif;
    font-weight: normal;
    margin-bottom: 0;
}
.main-content h2{
    font-family: serif;
    font-weight: normal;
    margin-bottom: 0;
    margin-right: 5px;
    font-size: 24px;
    display: inline-block;
}

main .empty{
    background-color: #8fbfbe ;
}

.page_nav li{
    margin: 5px 5px 5px 5px;
}

.page_nav p{
    text-align: center;
}

.page_nav a:link {
    font-size: 13px;
    text-decoration: none;
}

.page_nav a:hover{
    text-decoration: underline;
}

.wrapper-code{
    background-color: #e6e9ed;
    height: 450px;
    line-height: 18px;
    outline: 1px solid gray;
}

.block-links{
    border: 1px solid black;
    text-align: center;
    margin-bottom: 15px;
}

.name-block{
    background-color: #edba39;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

.name-block span{
    font-weight: bold;
    color: #0b4d59;
}

.name-block span a{
    color: #0b4d59;
}

.block-links p{
    font-size: 12px;
}

.category{
    border: 1px solid black;
    padding: 5px;
    background-color: #8fbfbe;
}

.category a{
    text-decoration: none;
    border-right: 1px solid black;
    padding-right: 5px;
}

.footer-content{
    flex: 1;
    padding: 20px;
}

.footer-links {
    display: flex;
}
.footer-links a {
    margin-right: 10px;
    margin-top: 10px;
}

.footer-button img{
    height: 40px;
}

.footer-button a{
    display: block;
    width: 90px ;
    border-radius: 3px;
    background-color: #e6e9ed;
    text-align: center;
    height: 40px;
    margin-right: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid #777c7d;
}

.footer-button {
    display: flex;
}

.footer-content > div{
    display: flex;
    justify-content: space-between;
}