@import "libs"
@import "base"
@import "vars"
body
  background: $bg
  height: 100vh
  box-sizing: border-box

.grid
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr))
  grid-auto-rows: 20px
  grid-auto-flow: dense
  max-width: 860px
  margin: 60px auto
  grid-gap: 5px
.item
  box-shadow: 3px 3px 10px rgba(0,0,0,0.5)
  grid-auto-flow: dense
.item1
  grid-column: span 4
  grid-row: span 2
  background: $wh
.item2
  grid-column: span 7
  grid-row: span 2
  background: $wh
.item3
  grid-column: span 6
  grid-row: span 2
  background: $yel
.item4
  grid-column: span 6
  grid-row: span 4
  background: $blue
.item5
  grid-column: span 2
  grid-row: span 2
  background: $yel
.item6
  grid-column: span 2
  grid-row: span 2
  background: $black
.item7
  grid-column: span 7
  grid-row: span 2
  background: $wh
.item8
  grid-column: span 3
  grid-row: span 4
  background: $wh
.item9
  grid-column: span 8
  grid-row: span 8
  background: $red
.item10
  grid-column: span 6
  grid-row: span 4
  background: $yel
.item11
  grid-column: span 4
  grid-row: span 2
  background: $yel
.item12
  grid-column: span 4
  grid-row: span 4
  background: $wh
.item13
  grid-column: span 3
  grid-row: span 6
  background: $yel
.item14
  grid-column: span 6
  grid-row: span 4
  background: $red
.item15
  grid-column: span 4
  grid-row: span 2
  background: $black
.item16
  grid-column: span 3
  grid-row: span 6
  background: $wh
.item17
  grid-column: span 3
  grid-row: span 4
  background: $wh
.item18
  grid-column: span 3
  grid-row: span 4
  background: $wh
.item19
  background: $wh
  grid-column: span 4
  grid-row: span 2
.item20
  grid-column: span 4
  grid-row: span 4
  background: $black
.item21
  grid-column: span 6
  grid-row: span 2
  background: $wh
.item22
  grid-column: span 4
  grid-row: span 2
  background: $wh
.item23
  grid-column: span 3
  grid-row: span 6
  background: $wh
.item24
  grid-column: span 4
  grid-row: span 4
  background: $black
.item25
  grid-column: span 4
  grid-row: span 2
  background: $wh
.item26
  grid-column: span 6
  grid-row: span 2
  background: $wh
.item27
  grid-column: span 3
  grid-row: span 4
  background: $wh
.item28
  grid-column: span 3
  grid-row: span 4
  background: $wh
.item29
  grid-column: span 8
  grid-row: span 8
  background: $blue
.item30
  grid-column: span 3
  grid-row: span 6
  background: $yel
.item31
  grid-column: span 4
  grid-row: span 2
  background: $wh
.item32
  grid-column: span 6
  grid-row: span 4
  background: $blue
.item33
  grid-column: span 4
  grid-row: span 4
  background: $wh
.item34
  grid-column: span 4
  grid-row: span 2
  background: $black
.item35
  grid-column: span 6
  grid-row: span 4
  background: $yel
.item36
  grid-column: span 3
  grid-row: span 4
  background: $wh
.item37
  grid-column: span 2
  grid-row: span 4
  background: $yel
.item38
  grid-column: span 2
  grid-row: span 4
  background: $wh
.item39
  grid-column: span 6
  grid-row: span 4
  background: $red
.item40
  grid-column: span 7
  grid-row: span 2
  background: $wh
.item41
  grid-column: span 3
  grid-row: span 2
  background: $wh
.item42
  grid-column: span 3
  grid-row: span 2
  background: $black
.item43
  grid-column: span 7
  grid-row: span 2
  background: $wh
.item44
  grid-column: span 4
  grid-row: span 2
  background: $wh
//
//.item26
//  grid-column: span 4
//  grid-row: span 4
//  background: $black

@import "media"
